@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #D08FBC;
    --main-color-lighter: #d2a9c6;
}

html {
    font-size: 65%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

.header .sticky {
    border-bottom: .1rem solid rgba(0, 0,  0, .2)
}

/* .name {
    color: var(--main-color);
    font-size: 4rem;
} */

/* .logo {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
} */

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    font-weight: bold;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
    margin-left: 10rem;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.7rem);
    }
    100% {
        transform: translateY(0);
    }
    
}

.home-content h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.2rem;
}

.home-content h1 {
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color)
}

.home-content p {
    margin: 2rem 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.connect-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.connect-text {
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 500;
    margin-right: 1.6rem;
    margin-top: 1.5rem;
}
.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1rem 2rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    margin-top: 3rem;
    padding: 1.3rem 7rem;
    background: var(--main-color-lighter);
    border-radius: 4rem;
    box-shadow: 0 0 0.7rem var(--main-color);
    font-size: 1.8rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content  h2{
    text-align: left;
    line-height: 1.2;

}

.about-content blockquote {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.skills h2 {
    margin-bottom: 5rem;
}

.skills-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-box {
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto; 
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.skills-container .skills-box:hover {
    border-color: var(--bg-color);
    transform: scale(1.02);
}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h3 {
    font-size: 2.6rem;
}

.skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.skills-content-icon i {
    margin: 1rem;
    font-size: 4rem;
    color: var(--main-color-lighter);
    justify-content: left;
    align-items: left;
}

.skills-box ul {
    list-style-type:disc;
    padding: 0;
    margin: 0;
}

.skills-box li{
    margin: 1.1rem 1.8rem;
    text-align: left;
    font-size: 1.5rem;
}

.skills-box span {
    font-weight: 600;
    color: var(--text-color);
}
.skills-content-icons i {
    margin: 1rem;
    font-size: 4rem; 
    color: var(--main-color-lighter);
}

.projects {
    background: var(--second-bg-color);
}

.projects, .contact {
    min-height: calc(100vh - 6rem);
    padding:10rem 9% 1rem;   
}

.projects h2 {
    margin-bottom: 4rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    padding-bottom: 4rem;
    width: fit-content; 
    margin: 0 auto;   
}

.projects-container .projects-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
} 

.projects-box img {
    max-height: 23rem;
    width: 100%;
    transition: .5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .75), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer {
    transform: translateY(0);
}

.projects-layer h4 {
    font-size: 3rem;
}

.projects-layer p {
    font-size: 2.5rem;
    margin: .3rem 0 1rem;
}

.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.projects-layer a i {
    font-size: 3rem;
    color: var(--second-bg-color);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 900px;
    max-height: 95vh;
    background: var(--second-bg-color);
    padding: 2rem;
    padding-top: 0.5rem;
    border-radius: 10px;
    overflow-y: auto;
    display: none;
    z-index: 1000;
    border: 2px solid var(--main-color); 
    box-shadow: 0 0 15px var(--main-color);
    justify-content: center;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--second-bg-color);
    padding: 2rem;
    border-radius: 10px;
}

#popup-title  {
    font-size: 2rem;
}

#popup-description {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1.7rem;
}

#popup-list {
    text-align: left;
    font-size: 1.5rem;
    margin: 0 2.5rem 2rem;
}

#popup-list li {
    padding-bottom: 2rem;
}
.popup img, 
.popup iframe {
    margin: 1.5rem 0;
    max-width: 100%;
    max-height: auto;
    border-radius: 8px;
}
.popup iframe {
    margin: 0 auto 2rem;
}

.popup img {
    height: 4rem;
}

#popup-link {
    margin-bottom: 20px; 
    padding: 10px 20px;
  }


.close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
    font-size: 3rem;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s;
}

.popup-overlay.active {
    visibility: visible;
    opacity: 1;
}


.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea {
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    border: 0.1rem solid var(--main-color);
    box-shadow: 0 0 0.5rem var(--main-color);
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    width: 100%;
    margin-top: 1.5rem;
    resize: none;
    max-height: 23rem;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-arrow a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: 50%;
    transition: .5s ease;
}

.footer-arrow a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-arrow a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* BREAKPOINTS */
@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .skills {
        padding-bottom: 7rem;
    }

    .projects {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }


}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0,  0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0,  0, .2);
        display: none;
    }
    
    .navbar.active {  
        display: block;
    }
    
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }

    .home {
        flex-direction: column;
        text-align: center; 
    }
      
    .home-content {
        max-width: 100%;
        margin-bottom: 0.5rem;
    }
    
    .home-img {
        text-align: center;
        margin-top: 2rem; 
    }
    
    .home-img img {
        width: 70vw;
        margin: 0 auto; 
    }

    .social-media a {
        width: 6rem;
        height: 6rem;
    }

    .home-content h3 {
        font-size: 2.3rem;
        margin-bottom: 1.4rem;
    }

    .home-content h3:last-of-type {
        font-size: 2.7rem;
    }

    .home-content h1 {
        font-size : 3.9rem;
        margin-bottom: 1.8rem;
    }

    .home-content p {
        text-align: justify;
        margin: auto 2.5rem;
    }

    .connect-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 0;
    }

    .home-content .social-media a {
        gap: 15rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 0;
    }

    .social-media a {
        font-size: 3rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: left; 
        margin-bottom: 0;
        gap: 0;
      }
      
    .about-content {
        max-width: 100%;
        margin: 2rem 2rem 0;
    }

    .about-content p:last-of-type {
        margin-bottom: 0;
      }

    .about-img {
        width: 70vw;
        margin: 0 auto;
        padding-top: 0;
    }
      
    .about-img img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
        
    .skills h2 {
        margin-bottom: 3rem;
    }

    .skills-container li {
        font-size: 1.7rem;
    }

    .projects h2 {
        margin-bottom: 3rem;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .popup-content h2 {
        font-size: 7rem;
    }

    #popup-description {
        font-size: 1.6rem;
    }

    #popup-list {
        font-size: 1.5rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-arrow {
        margin-top: 2rem;
    }
}

@media (max-width: 617px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
        margin-top: 2rem;
    }
}